* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* start navbar styles and resets */
.bg-transparent.greyish {
  background-color: rgba(134, 134, 134, .9) !important;
}

.navbar-dark .navbar-toggler {
  border: none;
}

@media(max-width: 991px) {
  .navbar {
    background-color: rgba(134, 134, 134, .9) !important;
  }

  .content h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

/* end navbar styles and resets */

/* start header styles */
header {
  position: relative;
  background-color: black;
  height: 120vh;
  min-height: 30rem;
  width: 100%;
  z-index: 1;
}

header::after {
  content: "";
  z-index: 2;
  width: 100%;
  height: 280px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -200px;
  transform: skewY(-7deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(85, 83, 83);
  opacity: 0.5;
  z-index: 1;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .container .content {
  margin-top: 12rem;
  position: relative;
  z-index: 3;
}

header .header-cta {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  background: transparent;
  color: #FFFFFF;
}

header .header-cta:hover {
  color: #333333;
  background-color: #FFFFFF;
}

/* end header styles */


/* start about-us section */

.about-us {
  position: relative;
  z-index: 3;
}

.grey-text {
  color: #7f848c;
}

.about-us .container .row div:last-child {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
}

@media(max-width:768px) {
  .about-us .container .row div:last-child {
    grid-template-columns: auto;
  }
}

.about-us .container .row div:last-child img:first-child {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}

.about-us .container .row div:last-child img:last-child {
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
  z-index: 1;
}

/* end about-us section */

/* start statistics section */
.light-grey-icon {
  color: #a2a3a5;
}

.stats .container .row p {
  font-size: 1.7rem;
}

/* end statistics section */

/* start our services section */
.service {
  padding: 20px 0;
  background: #FFFFFF;
}



.service span {
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  border: 1px solid #007bff;
  background-color: #007bff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.service span::before {
  content: "";
  width: 100px;
  height: 100px;
  border: 1px solid rgba(57 141 232 / 22%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.service span i{
  color: #FFFFFF;
}

.service:hover.service span {
  background-color: #FFFFFF;
}
.service:hover.service span i {
  color: #007bff;
}